html{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
.navbar{
  font-size: 1.3rem;
  background: #765898;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}
.main-menu{
  display: none;
  list-style-type: none;
  width: 100%;
  padding-left: 0px;
}
.main-menu li{
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform:  uppercase;
}
.main-menu li:hover{
  background: #52d053;
}
.logo {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}
.nav-links, logo{
   text-decoration: none;
   color: white;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  
}
.active {
  display: block;
}
.aboutme{
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
}
.pic{
  margin-top: 100px;
  align-self: center;
  border: solid 2px #765898;
  width: 90%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
   
}
.pic img{
  margin: 1rem;
  width: 90%;
}

.infocontainer{
  display: flex;
  flex-direction: row;
}
.info{
  width: 100px;
}
.info p{
  text-transform: uppercase;
  font-weight: bold;
}
.social{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.social li{
  font-size: 1.2rem;
  margin-right: 1rem;
}
.contactbtn{
  background: #765898;
  font-size: .9rem;
  padding: 10px 30px 10px 30px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  
}
.contactbtn:hover{
  background: #7810f0;
  
 
}
.downloadbtn{
  background: #52d053;
  font-size: .9rem;
  padding: 10px 30px 10px 30px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.downloadbtn:hover{
  background: #4fff4f;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.skills{
  margin: 1rem;
}
#ctn {
  position: relative;
  height: 30px;
  z-index: -1;
}
#ctn a {
  position: absolute;
  left: 0px;
  top: -90px;
  
}
.portfolio{
  margin: 1rem;
}
.row{
  display: flex;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
}
.row:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.imgblock{
  display: flex;
  margin: 1rem;
  width: 90%;
  justify-content: center;
  
}
.imgblock img{
  align-self: center;
  width: 90%;
}
.contact{
  margin: 1rem;
  padding: 1rem;
}
.container {
	max-width:400px;
	width:95%;
	margin:0 auto;
  /* position:relative; */
}
#contact {
	background:#F9F9F9;
  padding: 1rem;
  margin: 1rem;
}
#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
.bottominfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
footer{
  
  background: #52d053;
}
.rolldown-list li {
  visibility: hidden;
  -webkit-animation: rolldown .7s 1;
          animation: rolldown .7s 1;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.rolldown-list li:nth-child(2n) {
  background-color: #52d053;
}

.rolldown-list li:nth-child(2n+1) {
  background-color: #4fff4f;
}

.slide-in {
  opacity: 0;
  transition: all .5s;
}
.align-left.slide-in {
  transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
  transform: translateX(30%) scale(0.95);
}
.slide-in.active {
  opacity: 1;
  transform: translateX(0%) scale(1);
}


/* #js-menu {
  position: absolute;
  width: 50%;
  left: 50%;
  margin-left: -25%;
} */

@-webkit-keyframes rolldown {
  0% {
    visibility: visible;
    -webkit-transform: rotateX(180deg) perspective(500px);
            transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes rolldown {
  0% {
    visibility: visible;
    -webkit-transform: rotateX(180deg) perspective(500px);
            transform: rotateX(180deg) perspective(500px);
  }
  70% {
    visibility: visible;
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    visibility: visible;
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}


@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }
  .main-menu {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    
  }
  .main-menu li {
      margin: 0;
      padding-right: 10px;
      border-radius: 5px;
  }
  .nav-links {
      margin-left: 40px;
  }
  .logo {
      margin-top: 10px;
  }
 .navbar-toggle {
     display: none;
  }
  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
  .aboutme{
    flex-direction: row;
    padding: 2rem;
    height: 400px;
  }
  .shortbio{
    margin-top: 100px;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    height: 400px;
 }
  .pic{
    width: 50%;
    padding: 0;
   }
  
  
  .skills{
    flex-direction: row;
    padding: 2rem;
  }
  .portfolio{
    padding: 2rem;
  }
  .rownormie{
    display: flex;
    flex-direction: row;
  }
  .row-rev{
    display: flex;
    flex-direction: row-reverse;
  }
  .textblock{
    width: 50%;
  }
  .imgblock{
    width: 50%;
  }
  footer{
    display: flex;
  }

  
}