html{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}
body{
  margin: 0;
}
.navbar{
  font-size: 1.3rem;
  background: #765898;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
  transition: all 0.5s ease;
}
.main-menu{
  display: none;
  list-style-type: none;
}
.main-menu li{
  text-align: center;
  margin: 15px auto;
  text-transform:  uppercase;
  transition: all 0.5s ease;
}
.main-menu li:hover{
  background: #52d053;
}
.logo {
  display: inline-block;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
}
.nav-links, logo{
   text-decoration: none;
   color: white;
   
}
.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: rgba(255,255,255,0.8);
  font-size: 24px;
  
}
.active {
  display: block;
}
.aboutme{
  margin: 1rem;
  display: flex;
  flex-direction: column-reverse;
}
.pic{
  align-self: center;
  border: solid 2px #765898;
}
.pic img{
  margin: 1rem;
}

.infocontainer{
  display: flex;
  flex-direction: row;
}
.info{
  width: 100px;
}
.info p{
  text-transform: uppercase;
  font-weight: bold;
}
.social{
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}
.social li{
  font-size: 1.2rem;
  margin-right: 1rem;
}
.contactbtn{
  background: #765898;
  font-size: .9rem;
  padding: 10px 30px 10px 30px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
  margin-right: 1rem;
  margin-bottom: 1rem;
  
}
.contactbtn:hover{
  background: #7810f0;
 
}
.downloadbtn{
  background: #52d053;
  font-size: .9rem;
  padding: 10px 30px 10px 30px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border: none;
}
.downloadbtn:hover{
  background: #4fff4f;
}
.skills{
  margin: 1rem;
}
.portfolio{
  margin: 1rem;
}
.row{
  display: flex;
}
.imgblock{
  display: flex;
  
}
.imgblock img{
  align-self: center;
  width: 90%;
}
.contact{
  margin: 1rem;
}
.container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}
#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}
#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}
#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}
fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}
footer{
  background: #52d053;
}


@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }
  .main-menu {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }
  .main-menu li {
      margin: 0;
  }
  .nav-links {
      margin-left: 40px;
  }
  .logo {
      margin-top: 10px;
  }
 .navbar-toggle {
     display: none;
  }
  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}